<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Restaurant</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TablesServlet</display-name>
    <servlet-name>TablesServlet</servlet-name>
    <servlet-class>com.controller.TablesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablesServlet</servlet-name>
    <url-pattern>/tables</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>BaseFilter</display-name>
    <filter-name>BaseFilter</filter-name>
    <filter-class>com.filter.BaseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BaseFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>OperationServlet</display-name>
    <servlet-name>OperationServlet</servlet-name>
    <servlet-class>com.controller.OperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationServlet</servlet-name>
    <url-pattern>/operation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookservlet</display-name>
    <servlet-name>Bookservlet</servlet-name>
    <servlet-class>com.controller.Bookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookservlet</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackServlet</display-name>
    <servlet-name>BackServlet</servlet-name>
    <servlet-class>com.controller.BackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackServlet</servlet-name>
    <url-pattern>/back</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuisineServlet</display-name>
    <servlet-name>CuisineServlet</servlet-name>
    <servlet-class>com.controller.CuisineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuisineServlet</servlet-name>
    <url-pattern>/cuisine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuisineService</display-name>
    <servlet-name>CuisineService</servlet-name>
    <servlet-class>com.service.impl.CuisineService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuisineService</servlet-name>
    <url-pattern>/CuisineService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DishesServlet</display-name>
    <servlet-name>DishesServlet</servlet-name>
    <servlet-class>com.controller.DishesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishesServlet</servlet-name>
    <url-pattern>/dishes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>